/*
*   styles.css
*   ----------
*   Styles the frontend templates
*/

body {
    font-family: "Arial", sans-serif;
}

body a {
    color: blue;
    padding: 3px;
    border-radius: 3px;
}

body a:hover {
    color: white;
    background-color: blue;
}

.nav {
    text-align: center;
}

.content {
    margin: 20px;
    line-height: 1.4;
}

.flashed-message {
    color: red;
    font-family: "Consolas", monospace;
    padding: 3px;
}